.App {
  text-align: center;
}

.banner {
  height: 300px;
  background-color: #000000d6;
  color: white;
  display: grid;
  align-items: center;
}

.footer {
  height: 100px;
  background-color: #000000d6;
  color: white;
  display: grid;
  align-items: center;
}

.card {
  width: 250px;
  margin: 20px;
  align-items: center;
  padding: 10px;
  border: none;
}
.contact {
  background-color: #9e9e9e45 ;
}
